<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="org.avinoamr.cordova.imagepicker"
    version="0.4.2">
    <name>ImagePicker</name>
    <description>Cordova ImagePicker Plugin</description>
    <license>MIT</license>
    <keywords>cordova,imagepicker</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/imagepicker.js" name="imagepicker">
        <clobbers target="navigator.imagepicker" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="ios-package" value="CDVImagePicker" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVImagePicker.h" />
        <source-file src="src/ios/CDVImagePicker.m" />

        <header-file src="src/ios/ELCImagePicker/ELCImagePickerController.h" />
        <source-file src="src/ios/ELCImagePicker/ELCImagePickerController.m" />

        <header-file src="src/ios/ELCImagePicker/ELCAlbumPickerController.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAlbumPickerController.m" />

        <header-file src="src/ios/ELCImagePicker/ELCAsset.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAsset.m" />

        <header-file src="src/ios/ELCImagePicker/ELCAssetCell.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAssetCell.m" />

        <header-file src="src/ios/ELCImagePicker/ELCAssetPickerFilterDelegate.h" />

        <header-file src="src/ios/ELCImagePicker/ELCAssetSelectionDelegate.h" />

        <header-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.h" />
        <source-file src="src/ios/ELCImagePicker/ELCAssetTablePicker.m" />

        <header-file src="src/ios/ELCImagePicker/ELCConsole.h" />
        <source-file src="src/ios/ELCImagePicker/ELCConsole.m" />

        <header-file src="src/ios/ELCImagePicker/ELCImagePickerHeader.h" />

        <header-file src="src/ios/ELCImagePicker/ELCOverlayImageView.h" />
        <source-file src="src/ios/ELCImagePicker/ELCOverlayImageView.m" />

        <header-file src="src/ios/EYLargePhoto/EYLargePhoto.h" />
        <source-file src="src/ios/EYLargePhoto/EYLargePhoto.m" />

        <header-file src="src/ios/EYLargePhoto/EYLargePhotoHeader.h" />

        <header-file src="src/ios/EYLargePhoto/EYLargePhotoManager.h" />
        <source-file src="src/ios/EYLargePhoto/EYLargePhotoManager.m" />

        <header-file src="src/ios/EYLargePhoto/UIImage+EYFixOrientation.h" />
        <source-file src="src/ios/EYLargePhoto/UIImage+EYFixOrientation.m" />

        <resource-file src="src/ios/ELCImagePicker/Resources/ELCAlbumPickerController.xib" />
        <resource-file src="src/ios/ELCImagePicker/Resources/ELCAssetPicker.xib" />
        <resource-file src="src/ios/ELCImagePicker/Resources/ELCAssetTablePicker.xib" />
        <resource-file src="src/ios/ELCImagePicker/Resources/Overlay.png" />
        <resource-file src="src/ios/ELCImagePicker/Resources/Overlay@2x.png" />


    </platform>
</plugin>